@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color: rgba(2, 77, 223, 1);
    --colorShadow: rgba(2, 77, 223, 0.5);
    --Edit: #ffc107;
    --Delete: #dc3545;
    --Add: #28a745;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: white;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapped {
    background-color: var(--color);

    width: 100%;
    height: 100px;

    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1000;
}

.wrapped_logo {
    color: white;

    width: auto;
    height: 100%;

    overflow: hidden;

    display: flex;
    align-items: center;
}

.wrapped_logo img {
    width: auto;
    height: 100%;
}

.wrapped_logo a {
    font-size: 2em;
    margin-left: 20px;
}

.btn-1{
    background-color: transparent;
    color: white;
    border: white 2px solid;

    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    transition: all 0.3s ease; /* Añadido para la transición suave */
}

.btn-2{
    border: white 2px solid;

    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    transition: all 0.3s ease; /* Añadido para la transición suave */
}

.btn-2:hover, .btn-2:focus{

    transform: scale(1.1); /* Usar transform en lugar de scale directamente */
}

.btn-2:active{
    transform: scale(0.9); /* Usar transform también aquí */
}

.btn-1:hover{
    border: white 2px solid;

    transform: scale(1.1); /* Usar transform en lugar de scale directamente */
}

.btn-1:active{
    border: white 2px solid;

    transform: scale(1); /* Usar transform también aquí */
}

.btn-1:focus{
    border: white 2px solid;
    outline: none;
}

.btn-1 i {
    margin-right: 5px;
}

.main {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main_banner_1 {
    color: white;
    width: 100%;
    height: 45%;

    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: 
        linear-gradient(to top, rgba(2, 77, 223, 0.7), rgba(0, 0, 0, 0.3) 80%), /* Degradado hacia arriba */
        linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%), /* Degradado hacia abajo */
        url("../../images/login/tl-1.jpg"); 
    background-size: cover; /* Asegura que la imagen cubra el espacio */
    background-position: center; /* Centra la imagen */
}

.main_banner_2 {
    background-image: 
    linear-gradient(to top, rgba(2, 77, 223, 0.7), rgba(0, 0, 0, 0.3) 80%), /* Degradado hacia arriba */
    linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%), /* Degradado hacia abajo */
    var(--banner-image); 

    color: white;
    width: 100%;
    height: 50%;

    padding: 80px;

    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    background-size: cover; /* Asegura que la imagen cubra el espacio */
    background-position: center; /* Centra la imagen */
}

.main_banner_1 img {
    width: 100%;
    height: autoß;

    object-fit: cover;
    object-position: center; /* Centra la imagen dentro del contenedor */
}

.main_banner_1 h1 {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
}

.main_banner_1 button {
    margin-top: 20px;
}

.main_banner_1 button:hover {
    background-color: var(--color);
    border: var(--color) 2px solid;
}


.main_banner_2 button {
    margin-top: 20px;
}

.main_banner_2 button:hover {
    background-color: var(--color);
    border: var(--color) 2px solid;
}

.main h1 {
    font-size: 4em;
    font-weight: 500;
    text-align: center;
}

.main_contenedor {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 40px;
    padding: 30px;
}


.cont_input_1 {
    margin-bottom: 15px;
}

.cont_input_1 label {
    color: #595959;
    font-size: 0.9em;
    margin: 0; 
}

.input-container,
.textarea-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input_1 {
    background-color: transparent;

    position: relative;

    width: 100%;
    padding: 10px !important;

    padding-left: 40px !important; /* Espacio para el ícono */
    padding-right: 10px !important;

    border-radius: 10px !important;

    resize: none;

    border: 2px solid #bfbfbf !important;
}

.input-container i {
    position: absolute;
    left: 10px; 
    color: black; 
}

.input-container i.fas.fa-eye {
    right: 10px; /* Posición del ícono de ojo */
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.textarea-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%); /* Centra el ícono verticalmente */
    color: black; /* Cambia el color del ícono a negro */
}

.input_1:focus,
.input_1[type="file"]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px ;
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-color: #fff !important;
    --tw-ring-color: var(--borderColor) !important; /* Amarillo */
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;

    border-color:var(--borderColor) !important;
}

/* 
.input-container-2 {
    display: flex;
    align-items: center;

    background-color: transparent;
    border: 2px solid var(--borderColor);

    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.input-container-2 i {
    margin-right: 8px;
    color: var(--borderColor);
    font-size: 18px;
}

.input_1[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;

    background-color: var(--borderColor) !important;
    border: 2px solid transparent !important;

    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.input_1[type="checkbox"]:checked {
    background-color: var(--borderColor) !important;
    border-color: white !important;
}

.input-container-2:hover {
    filter: brightness(85%);
}

.input_1[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.5); 
}*/

.main_organizar {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 20px 0;
    padding: 10px;  
}

.table_cont {
    background-color: #f3f4f6;

    width: auto;
    height: auto;

    margin-top: 20px;
    border-radius: 10px;
}

@media (max-width: 430px) {
    .col-lg-6 {
        max-width: 430px !important;
    }
}

.table td img {
    max-width: 92.77px; /* Hace que la imagen ocupe el 100% del ancho de la celda */
    height: auto; /* Mantiene la proporción de la imagen */
}

@media (max-width: 430px) {
    .table td img {
        max-width: 100%; /* Hace que la imagen ocupe el 100% del ancho de la celda */
        height: auto; /* Mantiene la proporción de la imagen */
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 3rem !important;
    height: 3rem !important;
    background-size: 150% 150% !important;
}

.custom-carousel-btn .carousel-control-next-icon,
.custom-carousel-btn .carousel-control-prev-icon {
    filter: invert(100%) hue-rotate(210deg);
}

.nav-link {
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    position: relative;
}

.nav-link.active {
    background-color: #eaeaea;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
}

.eventos-title-container {
    text-align: center;
    margin: 0px;
}
.eventos-title {
    position: relative;
    font-size:2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    text-align: center;
    display: inline-block;

    margin: 20px 0px 40px 0px !important;

    text-transform: uppercase;
    font-weight: 700;
}

.eventos-title::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Distancia debajo del texto */
    left: -5px;
    right: -5px;
    width: auto; /* Ancho de la línea */
    height: 3px; /* Grosor de la línea */
    background-color: #000; /* Color de la línea */
}

.container-degradado {
    height: 100vh; 
    width: 100%;
    background: linear-gradient(45deg,
        rgba(255, 255, 255, 0.2),
        #23d541,
        rgba(2, 77, 223, 1),   /* Azul primario */
        rgba(0, 174, 255, 1),  /* Azul más claro */
        rgb(16, 0, 187),   /* Azul intermedio */
        rgb(111, 1, 255)     /* Azul oscuro */
    );

    background-size: 400% 400%;
    animation: color 12s ease-in infinite;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px; /* Tamaño de texto */
    color: #4a4a4a; /* Color de texto */
}

/* Estilo del checkbox normal (invisible) */
.checkbox-input {
    display: none;
}

/* Estilo del contorno del checkbox personalizado */
.checkbox-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin-right: 8px;
    position: relative;
    background-color: white;
    transition: all 0.3s ease;
}

/* Cambiar el color cuando el checkbox está marcado */
.checkbox-input:checked + .checkbox-custom {
    background-color: var(--color);
    border-color: var(--color);;
}

/* El "check" dentro del checkbox cuando está marcado */
.checkbox-input:checked + .checkbox-custom::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Estilo del texto */
.text {
    color: #666;
    font-size: 14px;
}

/* Estilo del texto cuando está en el tema oscuro */
body.dark .text {
    color: #ccc;
}

/* Estilo cuando el checkbox está en foco */
.checkbox-input:focus + .checkbox-custom {
    box-shadow: 0 0 3px rgba(72, 133, 237, 0.8);
}

.checkbox-custom:hover {
    background-color: #f2f2f2;
    border: 2px solid var(--color);
}

.titulo {
    font-family: 'Orbitron', sans-serif !important; 
    font-weight: 700 !important;
}

.sub-titulo {
    font-family: 'Work Sans', sans-serif !important; 
    font-weight: 300 !important;
}

.ver-evento {
    width: 45%;
    height: auto;
    background-color: var(--color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);

    display: flex;

    color: black;
}

@media (max-width: 768px) {
    .ver-evento {
        width: 100%; /* 1 columna en pantallas más pequeñas */
    }
}

.ver-evento i {
    color: var(--color);
    margin-right: 5px;
}

.ver-evento:hover, .ver-evento:focus {
    scale: 1.05;
}

.ver-evento:active {
    scale: 0.95;
}

.ver-evento-info {
    height: 100%;
    flex: 1 1 50%;
    
    background-color: white;

    padding: 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 20px;
}

.ver-evento-foto {
    position: relative;
    flex: 1 1 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 10px;
}

.ver-evento-foto-datos {
    position: absolute;
    top: 10px;
    left: 10px;

    width: auto;
    height: auto;

    border-radius: 30px;
    border: none;
    gap: 2px;

    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;

    padding: 1px 8px;
    margin: 8px;

    font-size: 12px;

    transition: all 0.3s ease;
}

.ver-evento-foto-fecha {
    position: absolute;
    top: 10px;
    right: 10px;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 8px;
    font-size: 12px;
    gap: 0px;

    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.4);

    transition: all 0.3s ease;

    text-shadow: none;
}

.ver-evento-foto-asiento {
    position: absolute;
    top: 10px;
    left: 10px;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 8px;
    font-size: 12px;
    gap: 0px;

    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.4);

    transition: all 0.3s ease;

    text-shadow: none;
}

.ver-evento-foto-fecha:hover, .ver-evento-foto-fecha:focus,
.ver-evento-foto-datos:hover, .ver-evento-foto-datos:focus,
.btns:hover, .btns:focus 
{
    opacity: 0.5;
    scale: 1.2;
}

.ver-evento-foto-fecha:active,
.ver-evento-foto-datos:active,
.btns:active
{
    scale: 0.9;
}

.ver-evento-foto-btns {
    position: absolute;
    bottom: 10px;
    left: 0px;

    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: auto;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    border-radius: 10px;
}

.btns i {
    color: white;
    margin-right: 0px;
    border: none;
}

.info-icon {
    position: relative;
    cursor: pointer;
}

.tooltip-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;

    left: 120%; /* Mueve el tooltip a la derecha del icono */
    top: 0;

    background-color: #333;
    color: #fff;

    width: auto;
    height: auto;
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
    word-wrap: break-word; /* Asegura que las palabras largas se dividan */
    overflow-wrap: break-word;;
    text-align: left;

    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
}

.info-icon:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}

.ver-mas-btn {
    background: none;
    border: none;
    color: var(--color);
}

.scale {
    transition: all 0.3s ease !important;
}

.scale:hover, .scale:focus {
    transform: scale(1.1);
}

.scale:active {
    transform: scale(1);
}

.contenedor-plan-info {
    height: auto;
    width: 40%;

    display: flex;      
    flex-direction: column; 

    margin-top: 20px;
    margin-bottom: 50px;
    
    box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.4);
}

.plan-img, .plan-info {
    flex: 1;
    width: 100%;
}

.plan-img {
    min-height: 300px;
}
.plan-info {
    padding: 20px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal-view {
    font-size: 20px;
}

.modal-view p {
    font-size: 15px;
}

.modal-view h1 {
    font-size: 30px;
}

.modal-view strong {
}